{{ define "head" }}
{{ if .commit }}
<!-- Enable syntax highligthing for diff -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>
window.onload = function() {
  hljs.initHighlighting();
}
</script>
{{ end }}
{{ end }}

{{ define "main" }}

<!-- List all nanmespaces/repositories -->
{{ if .data }}
<h1>Forge</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Repository</th>
    </tr>
  </thead>
  <tbody>
    {{ range .data }}
    <tr>
        <td><a href="/api/apps/{{$.blobstash.app_id}}/{{.repo}}">{{.repo}}</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}


{{ if not .data }}
<h1 style="margin-bottom:0;"><a href="/api/apps/{{.blobstash.app_id}}/{{.params.repo}}">{{.params.repo}}</a></h1>
        <ul class="tab">
    <li class="tab-item{{ if .summary}} active{{ end }}">
        <a href="/api/apps/{{$.blobstash.app_id}}/{{ $.params.repo }}">
      Summary
    </a>
  </li>
  <li class="tab-item {{ if .releases }} active{{ end }}">
      <a href="/api/apps/{{$.blobstash.app_id}}/{{ $.params.repo }}/releases">Releases</a>
  </li>
  <li class="tab-item {{ if .refs }} active{{ end }}">
      <a href="/api/apps/{{$.blobstash.app_id}}/{{ $.params.repo }}/refs">Refs</a>
  </li>
  <li class="tab-item {{ if .log }} active{{ end }}">
      <a href="/api/apps/{{$.blobstash.app_id}}/{{ $.params.repo }}/log">Log</a>
  </li>
  <li class="tab-item{{ if or .file .tree }} active{{ end }}">
      <a href="/api/apps/{{$.blobstash.app_id}}/{{ $.params.repo }}/tree">Tree</a>
  </li>
  {{ if .commit }}
  <li class="tab-item active">
      <a href="#">Commit</a>
  </li>{{ end }}
</ul>

{{ end }}


{{ if .file }}
<p style="margin-top:30px;">
<strong>{{ .params.name }}</strong> <a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/file/{{ .params.hash }}/{{ .params.name }}/plain">[plain]</a> 
<a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/file/{{ .params.hash }}/{{ .params.name }}/plain?dl=1">[download]</a>
</p>
{{ if not .file.is_binary }}
<pre class="code" data-lang="{{.file.hash}}"><code>{{ .file.contents }}</code></pre>
{{ else }}
[binary file]
{{ end }}
{{ end }}

{{ if .tree }}
<table class="table table-striped table-hover" style="margin-top:30px;">
  <thead>
    <tr>
      <th style="width:150px;">Mode</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{{ range .tree }}
    <tr>
        <td>{{ .mode }}</td>
        <td>{{ if .is_file }}<a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/file/{{ .hash }}/{{ .name }}">{{ .name }}</a>
            {{ else }}<a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/tree/{{ .hash }}">{{.name }}</a>{{ end }}</td>
    
        <td style="text-align:right">{{ if .is_file }}<small>
            <a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/file/{{ .hash }}/{{ .name }}/plain">[plain]</a> 
            <a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/file/{{ .hash }}/{{ .name }}/plain?dl=1">[download]</a> 
            </small>{{ end }}</td>
    </tr>
{{ end }}
  </tbody>
</table>
{{ end }}


{{ if .commit }}
<dl style="margin-top:30px;">

<dt>hash</dt>
<dd><code>{{ .commit.hash }}</code></dd>

<dt>author</dt>
<dd>{{ .commit.author_name }} <{{ .commit.author_email }}> {{ .commit.author_time }}</dd>

<dt>comitter</dt>
<dd>{{ .commit.comitter_name }} <{{ .commit.comitter_email }}> {{ .commit.comitter_time }}</dd>

<dt>tree</dt>
<dd><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/tree/{{ .commit.tree_hash }}"><code>{{ .commit.tree_hash }}</code></a></dd>

<dt>parent</dt>
<dd><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/commit/{{ .commit.parent_hash }}"><code>{{ .commit.parent_hash }}</code></a></dd>

</dl>
<p class="text-large" style="margin:20px 0;">{{ .commit.message }}</p>

<div class="bg-gray" style="padding:10px;">
<p><strong>{{ .commit.stats.files_changed }}</strong> files changed, <strong>{{ .commit.stats.additions }}</strong> additions and <strong>{{ .commit.stats.deletions }}</strong> deletions.</p>
<ul>
{{ range .commit.file_stats }}
<li><strong>{{ .name }}</strong> <span class="text-success">+{{ .additions }}</span> <span class="text-error">-{{.deletions}}</span></li>
{{ end }}
</ul>
</div>

<pre style="margin: 30px 0;"><code class="diff">{{ .commit.patch }}</code></pre>


{{ end }}


{{ if .log }}
<table class="table table-striped table-hover" style="margin-top:30px;">
  <thead>
    <tr>
      <th>Age</th>
      <th>Commit message</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
{{ range .log }}
    <tr>
        <td>{{ .author_time_ago }}</td>
        <td><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/commit/{{.hash}}">{{ .message }}</a></td>
        <td>{{ .author_name }}</td>
    </tr>
{{ end }}
  </tbody>
</table>
{{ end }}


{{ if .refs }}
<table class="table table-striped table-hover" style="margin-top:30px;">
  <thead>
    <tr>
      <th>Branch</th>
      <th>Commit message</th>
      <th>Author</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
{{ range .refs.branches }}
    <tr>
        <td>{{ .ref_short_name }}</td>
        <td><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/commit/{{.commit_hash}}">{{ .commit_message }}</a></td>
        <td>{{ .commit_author_name }}</td>
        <td>{{ .commit_time_ago }}</td>
    </tr>
{{ end }}
  </tbody>
</table>



<table class="table table-striped table-hover" style="margin-top:30px;">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Commit message</th>
      <th>Author</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
{{ range .refs.tags }}
    <tr>
        <td>{{ .ref_short_name }}</td>
        <td><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/commit/{{.commit_hash}}">{{ .commit_message }}</a></td>
        <td>{{ .commit_author_name }}</td>
        <td>{{ .commit_time_ago }}</td>
    </tr>
{{ end }}
  </tbody>
</table>

{{ end }}



{{ if .releases }}
{{ range .releases }}
<div style="margin-top:30px;">
<h4>{{ .tag.ref_short_name }}</h4>
<p>Released by <strong>{{ .tag.commit_author_name }}</strong> ({{.tag.commit_author_email}})<br>
{{ .tag.commit_time_ago }} / 
<code><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/commit/{{.tag.commit_hash}}">{{ .tag.commit_short_hash }}</a></code>
</p>
<p>{{.tag.commit_message}}</p>
{{ if .artifacts }}
  <ul>
    {{ range .artifacts.children }}
    <li><a href="{{ .dl_url }}">{{.name}} ({{ .size_human }})</a></li>
    {{ end }}
</ul>
{{ end }}
</div>
{{ end }}
{{ end }}

{{ if .summary }}

<div class="container">
      <div class="columns">
              <div class="column col-8">


<table class="table table-striped table-hover" style="margin-top:30px;">
  <thead>
    <tr>
      <th>Age</th>
      <th>Commit message</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
{{ range .summary.commits }}
    <tr>
        <td>{{ .author_time_ago }}</td>
        <td><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/commit/{{.hash}}">{{ .message }}</a></td>
        <td>{{ .author_name }}</td>
    </tr>
{{ end }}
  </tbody>
</table>

              </div><div class="column col-4">

<div class="bg-gray" style="padding:10px;margin-top:30px;">
    <strong>Clone</strong> (read-only)<br>
    <code>{{.scheme}}://{{.host}}/git/{{.ns}}/{{.params.repo}}.git</code>
</div>

{{ if .latest_release }}
<div class="bg-gray" style="padding:10px;margin-top:20px;">
    {{ if .latest_release }}
    Latest release: <strong>{{.latest_release.name}}</strong><br>
    {{.latest_release.date}} / <code><a href="/api/apps/{{$.blobstash.app_id}}/{{$.params.repo}}/commit/{{.latest_release.hash}}">{{.latest_release.short_hash}}</a></code>
    {{ end }}
    <ul>
    {{ range .artifacts.children }}
    <li><a href="{{ .dl_url }}">{{.name}} ({{ .size_human }})</a></li>
    {{ end }}
    </ul>
</div>
{{ end }}

              </div>

<div style="margin:50px 0 30px 0;">
{{ if .summary.readme }}
{{ markdownify .summary.readme }}
{{ end }}
</div>
<!-- end summary -->
{{ end }}
{{ end }}
